<form style="color: #757575;"
      [formGroup]="gameForm"
      (ngSubmit)="onSubmit()">
  <!--<div class="md-form mt-3">
      <input type="text"
             formControlName="gameFormName"
             id="materialGameFormName"
             class="form-control"
             mdbInput />
      <label for="materialGameFormName">Joukkueen nimi</label>
      <mdb-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">Input invalid</mdb-error>
  <mdb-success *ngIf="firstName.valid && (firstName.dirty || firstName.touched)">Input valid</mdb-success>
    </div>-->
  <div class="md-form mt-3">
    <mdb-select [options]="teams" placeholder="Kotijoukkue" formControlName="gameFormHomeTeam"></mdb-select>
  </div>
  <div class="md-form mt-3">
    <mdb-select [options]="teams" placeholder="Vierasjoukkue" formControlName="gameFormAwayTeam"></mdb-select>
  </div>
  <div class="md-form mt-3">
    <mdb-date-picker [options]="gameDatePickerOptions"
                     [placeholder]="'Valitse päivä'"
                     formControlName="gameFormDate"></mdb-date-picker>
  </div>
  <br /><br />
  <div class="md-form mt-3">
    <mdb-time-picker [twelvehour]="false"
                     [placeholder]="'Valitse aika'"
                     class=""
                     formControlName="gameFormTime"></mdb-time-picker>
  </div>
  <div class="md-form mt-3">
    <input type="text"
           formControlName="gameFormPitch"
           id="materialGameFormPitch"
           class="form-control"
           mdbInput />
    <label for="materialGameFormPitch">Kenttä</label>
  </div>
  <div class="md-form">
    <textarea type="text" formControlName="gameFormDescription" id="form7" class="md-textarea form-control" mdbInput></textarea>
    <label for="form7">Kuvaus</label>
  </div>
  <button mdbBtn
          color="info"
          outline="true"
          rounded="true"
          block="true"
          class="z-depth-0 my-4 waves-effect"
          mdbWavesEffect
          type="submit">
    Tallenna peli
    <mdb-spinner *ngIf="saving" spinnerColor="blue"></mdb-spinner>
  </button>
</form>
