<div class="col-lg-6 jumbotron">
  <h3>Joukkueet</h3>
  <div class="row mt-3 col-lg-8">

      <table mdbTable>
        <thead>
          <tr>
            <th scope="col">Nimi</th>
            <th scope="col">
              <a (click)="addTeam()">
                <mdb-icon fas icon="plus"></mdb-icon>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let team of teams">
            <td><a (click)="selectTeam(team.teamId)">{{team.name}}</a></td>
            <td>
              <a (click)="editTeam(team.teamId)">
                <mdb-icon fas icon="pen"></mdb-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="ml-1 mt-3 col-12" *ngIf="playersLoaded">
    <div class="row mt-3" >
      <h5>Joukkueen {{selectedTeam.name}} pelaajat</h5>
    </div>
    <div class="row mt-3 col-lg-8">

        <table mdbTable>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nimi</th>
              <th scope="col">
                <a (click)="addPlayer()">
                  <mdb-icon fas icon="plus"></mdb-icon>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let player of players">
              <th scope="row">{{player.playerNumber}}</th>
              <td>{{player.firstName}} {{player.lastName}}</td>
              <td>
                <a (click)="editPlayer(player.playerId)">
                  <mdb-icon fas icon="pen"></mdb-icon>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
<div mdbModal #playerModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myplayerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="playerModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        
      </div>
      <div class="modal-body">
        <app-player-form [player]="editedPlayer" [teamId]="selectedTeam.teamId" [isNew]="isNewPlayer" (closeEvent)="editorClose()" *ngIf="playerModalOpened"></app-player-form>
      </div>

    </div>
  </div>
</div>

<div mdbModal #teamModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="teamModal.hide()">
          <span aria-hidden="true">×</span>
        </button>

      </div>
      <div class="modal-body">
        <app-team-form [team]="editedTeam" [isNew]="isNewTeam" (closeEvent)="teamEditorClose()" *ngIf="teamModalOpened"></app-team-form>
      </div>

    </div>
  </div>
</div>


